* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color:beige;
}

header {
  background-color: cornflowerblue;
  width: 100%;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav-link {
  text-decoration: none;
  color: aliceblue;
}

.logo {
  font-size: 30px;
  font-weight: bold;
  padding: 40px;
  line-height: 40px;
}

.nav-menu {
  display: flex;
  margin-right: 40px;
  list-style: none;
}

.nav-menu-item {
  font-size: 15px;
  text-transform: uppercase;
}

.nav-menu-item:hover {
  background-color: blanchedalmond;
}